.header__lang-link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
    color: #fff;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.3;
    transition: .3s;
}