.place__image {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    grid-row: 2 / 2;
}

@media (max-width: 1023px) {
    .place__image {
        max-height: 340px;
        max-width: 340px;
        align-self: start;
    }
}

@media (max-width: 767px) {
    .place__image {
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        grid-row: 3 / 4;
    }
}