.place__paragraphs {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-self: flex-start;
}

@media (max-width: 767px) {
    .place__paragraphs {
        margin-left: 16px;
        margin-right: 16px;
    }
}