.lead__image-place {
    display: flex;
    flex-direction: column;
    margin: 0;
}

@media (max-width: 1279px) {
    .lead__image-place {
        margin-left: auto;
        margin-right: auto;
    }
}