.intro__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    margin: 0;
    margin-top: 40px;
    margin-bottom: 33px;
}

@media (max-width: 767px) {
    .intro__paragraph {
        margin-bottom: 34px;
    }
}