.place {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 460px 1fr;
    grid-template-rows: min-content 460px;
    margin-top: 80px;
    gap: 48px 40px;
    align-items: flex-end;
}

.place:nth-of-type(1) {
    margin-top: 0;
}

@media(max-width: 1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-template-rows: min-content 440px;
        gap: 48px 32px;
    }
}

@media(max-width: 1023px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: 1fr minmax(340px, min-content);
        gap: 48px 28px;
        margin-top: 73px;
    }

    .place:nth-of-type(1) {
        grid-template-rows: minmax(84px,max-content) minmax(340px, max-content);
    }
}

@media(max-width: 767px) {
    .place {
        gap: 32px;
        grid-template: repeat(4, min-content) / 320px;
        margin: 0;
        margin-top: 50px;
    }

    .place:nth-of-type(1) {
        grid-template: repeat(4, min-content) / 320px;
        min-width: 320px;
        min-height: 1042px;
    }

    .place:nth-of-type(4) {
        min-height: 964px;
    }
}