.place__website {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start;
    justify-content: flex-end;
}

/* @media (max-width: 1023px) {
    .place__website:nth-of-type(1) {
        justify-content: flex-end;
    }
} */

@media (max-width: 767px) {
    .place__website {
        margin-left: 16px;
        margin-right: 16px;
    }
}